@import url('https://fonts.googleapis.com/css?family=Abel%7COswald:700%7CYellowtail%7CPatrick+Hand');
body {
   background: #fff;
 }
 * {
   font-family: times;
 }
 main p {
   color: #333;
   font-size: 1.2em;
   line-height: 1.3em;
   text-indent: 30px;
   margin: 20px 0px;
 }
input {
   font-family: 'Patrick Hand', cursive;
 }